footer {
    background-color: #028885;
    /* position: fixed; */
    bottom: 0;
    /* width: 100%; */
    /* height: 50px; */
    /* Adjust this height as needed */
    /* display: flex; */
}

.copyright {
    background-color: rgba(0, 0, 0, 0.05);
}